# Node.js
node_modules/
npm-debug.log*

# dotenv files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# Database dumps / temp files
*.sql
*.dump

# IDE / Editor folders
.vscode/
.idea/
.DS_Store

# Runtime
dist/
build/
tmp/

# misc
.dockerignore
fly.toml
Dockerfile
fly-deploy.yml